In [30]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix

def load_data():
    train_data = pd.read_csv('train.csv')
    return train_data

train_data = load_data()
training_data = train_data.drop(columns=["Transported"])
target_label = train_data["Transported"]
num_attributes = training_data.select_dtypes(include=[np.number]).columns.tolist()
cat_attributes = training_data.select_dtypes(exclude=[np.number]).columns.tolist()

# scat_matrix = scatter_matrix(training_data,figsize=(10,10),grid=True, diagonal='kde', alpha=0.2)
# training_data.hist(figsize=(10,10), grid=True, bins=20, alpha=0.5)
training_data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines

In [32]:
from sklearn.utils import shuffle 
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer as Imputer

training_data = shuffle(training_data, random_state=42)
training_data.drop(columns=["Name", "Cabin", "PassengerId"],inplace=True)

def pre_processing(training_data,target_data):
    
    num_pipeline = Pipeline([
        ('imputer', Imputer(missing_values=np.nan,strategy='mean')),
        ('std_scaler', StandardScaler())
    ])
    
    cat_pipeline = Pipeline([
        ('imputer', Imputer(missing_values=np.nan,strategy='most_frequent')),
        ('one_hot_encoder', OneHotEncoder(handle_unknown='ignore'))
    ])